@import "tailwindcss";

::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background-color);
}
